.branding{
    margin-top: 8rem;
}
.branding div{
    width: 50%;
    margin: 0 auto;
}
.branding-title{
    font-size: 64px;
    line-height: 90px;
    color: #131313;
    font-weight: 800;
}
.branding-details{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 35px;
}
.explore-btn{
    border: none;
    padding: 15px 30px; 
    border-radius: 8px;
    color: white;
    font-size: 20px;
    background-color: #f93f23;
}
.img-section img{
    width: 45rem;
    border-radius: 8px;
}
.chef-container{
    margin: 130px 0;
}
.carousel{
    width: 400px;
}
.chef-container h1{
    font-weight: 900;
    font-size: 64px;
    line-height: 53px;
    color: #131313;
    border-right: 5px solid#f93f23;
    width: 20%;
    margin: 0 auto;
}